<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/flytur/index.php">Flytur</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/flytur/index.php">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/flytur/airlines/index.php">Airlines</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/flytur/airports/index.php">Airports</a>
        </li>        
      </ul>      
    </div>
  </nav>